<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Personnel_handling" />
    <add key="DJANGO_SETTINGS_MODULE" value="Personnel_handling.settings" />
    <!-- Optional settings -->
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\Personnel_handling\wsgi.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
  </appSettings>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <directoryBrowse enabled="true" />
        <handlers>
            <remove name="wfastcgi" />
            <add name="cgihandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\Python311\python.exe|C:\Python\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>