<style>
    /* Pagination Styles */
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 11px;
            margin-bottom: 6px;
        }
        .page-link {
            padding: 5px 10px;
            margin: 0 2px;
            border: 1px solid #ccc;
            border-radius: 3px;
            text-decoration: none;
            font-weight: bold;
            font-size:12px;
            color: #333;
            transition: background-color 0.3s ease;
        }
        .active {
            background-color: #61a6ff;
            color: rgba(253, 253, 253, 0.87);
        }
        /* Bold Numbers */
        .page-link:not(.active) {
            font-weight: bold;
        }
        .data-info {
            font-size:12px;
            margin: 5px;
            text-align: center;
            color: #777;
        }
</style>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?{{ search_filters }}&page=1" class="page-link">首页</a>
        <a href="?{{ search_filters }}&page={{ page_obj.previous_page_number }}" class="page-link"><i class="fas fa-angle-left"></i></a>
    {% endif %}
    
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span class="page-link active">{{ num }}</span>
        {% else %}
            <a href="?{{ search_filters }}&page={{ num }}" class="page-link">{{ num }}</a>
        {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
        <a href="?{{ search_filters }}&page={{ page_obj.next_page_number }}" class="page-link"><i class="fas fa-angle-right"></i></a>
        <a href="?{{ search_filters }}&page={{ page_obj.paginator.num_pages }}" class="page-link">末页</a>
    {% endif %}
</div>
<div class="data-info">
        共 {{ page_obj.paginator.count }} 条
    </div>  